.ticket-container {
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 12px;
    width: 300px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.ticket-id {
    font-size: 12px;
    font-weight: 600;
    color: #868688;
}

.ticket-title-container {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.ticket-radio {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #e8e8e8;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 6px;
    margin-top: 0px;
}

.ticket-radio:checked {
    background-color: #6568c8;
    border: 1px solid #6568c8;
}

.ticket-title-text {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    max-width: 250px;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
}

.ticket-tags-wrapper {
    margin-top: 12px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.single-tag {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    border: 1px solid #f2f2f3;
    padding: 3px;
    border-radius: 4px;
    align-items: center;
}

.filled-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #c5c5c7;
}

.tag-text {
    font-size: 10px;
    font-weight: 500;
    color: #868688;
}

.priority-icon {
    width: 16px;
    height: 16px;
}

.ticket-container-right {

}